<div class='maincontainer'>
  <gc-spread-sheets [hostStyle]="hostStyle" (workbookInitialized)="workbookInit($event)">
  </gc-spread-sheets>
  <div class='loadExcelInput'>
    <p>Open Excel File</p>
    <input type="file" name="files[]" multiple id="jsonFile" accept=".xlsx" (change)="onFileChange($event)" />
 </div>

